/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* Reset CSS */
body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #272727 23%, #151515 95%);
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Privacy Policy page styles */
.privacy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.privacy-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.privacy-container p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.privacy-container ul {
    list-style-type: square;
    margin-left: 20px;
}

.privacy-container ul li {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #fff; /* Apply text color from global styles */
}

.footer {
    background: #111;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo img {
    width: 100px; /* Adjust as needed */
}

.footer .footer-sections {
    display: flex;
    gap: 50px;
}

.footer .footer-section {
    text-align: left;
}

.footer .footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.footer .links,
.footer .legal {
    list-style: none;
    padding: 0;
}

.footer .links a,
.footer .legal a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

.footer .links a:hover,
.footer .legal a:hover {
    color: #47b2e4;
    text-decoration: underline; /* Maintain link styling */
}

/* Hamburger menu styles */
#menu-toggle {
    display: none;
}

#hamburger-btn {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    order: 1;
}
