/* General Styles */
body,
html {
    background: linear-gradient(to bottom, #cfcfcf, #8e8e8e);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    margin: 1rem;
    position: relative;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.navbar-menu li {
    margin-left: 1rem;
}

.navbar-menu li a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

    .navbar-menu.active {
        max-height: 300px;
        opacity: 1;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-menu li {
        margin: 0.5rem 0;
    }
}

/* Header Styles */
header {
    position: sticky;
    top: 0;
    z-index: 40;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    background: rgba(49, 49, 49, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;
}

header:hover {
    background: rgba(49, 49, 49, 0.9);
}

header a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

header a:hover {
    color: #f1c40f;
}

.card-glass {
    background: rgba(49, 49, 49, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Main Content Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.scroller {
    overflow: hidden;
    outline: 1px solid white;
    padding: 1rem;
}

.scroll {
    display: flex;
    animation: scroll 10s linear infinite;
}

.scroll-reverse {
    display: flex;
    animation: scroll-reverse 10s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll-reverse {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

/* Miscellaneous Styles */
.Toastify {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: #333;
    color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}